.message{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 20%;
}


.disclaimer-emoji {
    font-size: 40px; 
    color: #FFA500;
    margin-right: 20px;
}
  
.btn {
    display: inline-flex;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1.5rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
}

.btn.primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn.primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}

.back-arrow svg {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.back-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-arrow:hover svg {
    stroke: #007bff;
}

.back {
    position: fixed;
    bottom: 0;
    left: 1;
    margin-bottom: 20px; 
    margin-left: 17px; 
}
