.header {
  display: flex;
  align-items: center;
  position: fixed; /* Fixing the header */
  top: 0; /* Position it at the top */
  width: 100%; /* Fill the width of the viewport */
  background-color: #fff; /* Adjust background color */
  z-index: 2; /* Ensure it's above the sidenav */
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.header .logo {
  max-height: 40px;
  margin-left: 50px;
}

.header .title-group {
  padding-left: 80px;
}

.header .title-group i {
  padding-right: 5px;
}

/* Adjust content margin to accommodate header */
.content {
  padding-top: 64px; /* Adjust according to the height of the header */
}
