.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

button {
    margin-top: 80px; 
    margin-bottom: 15px; 
}

button.generate,
button.preview,
button.download {
    margin-top: 15px; 
    margin-bottom: 15px; 
}