<button mat-raised-button (click)="navigateToUserCreate()" color="primary">
  + New User
</button>

<app-user-read></app-user-read>

<div class="container">
  <button mat-raised-button class="generate" (click)="navigateToGeneratePdf()" color="primary">
      Generate PDF
  </button>

  <button mat-raised-button class="preview" (click)="navigateToPreviewPdf()" color="primary">
      Preview PDF
  </button>

  <button mat-raised-button class="download" (click)="navigateToDownloadPdf()" color="primary">
      Download PDF
  </button>
</div>