<mat-card class="card">
  <mat-card-title>New User</mat-card-title>
  <form #userForm="ngForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Name"
        [(ngModel)]="user.name"
        name="name"
        required
      />
      <mat-error *ngIf="userForm.submitted && userForm.controls.name?.invalid">Name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        [(ngModel)]="user.email"
        name="email"
        required
        email
      />
      <mat-error *ngIf="userForm.submitted && userForm.controls.email?.invalid">Valid Email is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Phone Number"
        [(ngModel)]="user.phone"
        name="phone"
        required
      />
      <mat-error *ngIf="userForm.submitted && userForm.controls.phone?.invalid">Phone Number is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Address"
        [(ngModel)]="user.address"
        name="address"
        required
      />
      <mat-error *ngIf="userForm.submitted && userForm.controls.address?.invalid">Address is required</mat-error>
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createUser()" color="primary">
    Save
  </button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-card>